.h5p-coordinate {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    width: 2em;
}

.h5p-coordinate:focus {
    outline: none;
}

.h5p-coordinates-editor {
    background-color: #EEEEEE;
    border-radius: 0.7em;
    font-size: 12px;
    margin-top: -2.2em;
    padding: 0 0.3em;
    position: absolute;
    z-index: 50;
}