/* IcoMoon font licensed under the GNU General Public License: http://www.gnu.org/licenses/gpl.html */
@font-face {
    font-family: H5PCoursePresentation;
    src: url('../fonts/H5P.eot');
    src: url('../fonts/H5P.eot?#iefix') format('embedded-opentype'), url('../fonts/H5P.woff') format('woff'), url('../fonts/H5P.ttf') format('truetype'), url('../fonts/H5P.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.h5peditor-form {
    background: #fff;
}

.h5p-course-presentation {
    margin-top: 4%;
}

.h5p-course-presentation .h5p-wrapper {
    height: 440px;
}

.h5p-course-presentation .h5p-slidecontrols, .h5p-course-presentation .h5p-keywordcontrols {
    font-size: 0.75em;
    border: 1px solid #bebebe;
    border-top: 0;
    text-shadow: 0 0 1em #fff;
}

.h5p-course-presentation .h5p-slidecontrols {
    float: right;
    border-radius: 0.5em;
    margin: 0.15em;
    border: 1px solid #d9d9d9;
}

.h5p-course-presentation .h5p-keywordcontrols {
    float: left;
    border-radius: 0.5em;
    margin: 0.15em;
    border: 1px solid #d9d9d9;
    width: auto;
}

.h5p-course-presentation .h5p-keywordcontrols-button, .h5p-course-presentation .h5p-slidecontrols-button {
    display: block;
    float: left;
    color: #292929;
    width: 0.833em;
    border-left: 1px solid #bebebe;
    line-height: 1.5em;
    padding: 0.25em 0.5em;
    height: 1.5em;

    background: rgb(240, 240, 240); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(240, 240, 240, 1)), color-stop(100%, rgba(204, 204, 204, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#cccccc', GradientType=0); /* IE6-9 */
}

.h5p-course-presentation .h5p-keywordcontrols-button, .h5p-course-presentation .h5p-slidecontrols-button:hover {
    background: rgb(204, 204, 204); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, rgba(204, 204, 204, 1)), color-stop(100%, rgba(240, 240, 240, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#f0f0f0', GradientType=0); /* IE6-9 */
}

.h5p-course-presentation .h5p-keywordcontrols-button {
    width: auto;
    line-height: 1.5em;
    padding: 0.25em 0.5em;
    height: 1.5em;

    background: rgb(240, 240, 240); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(240, 240, 240, 1)), color-stop(100%, rgba(204, 204, 204, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#cccccc', GradientType=0); /* IE6-9 */
}

.h5p-course-presentation .h5p-keywordcontrols-button:hover {
    background: rgb(204, 204, 204); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, rgba(204, 204, 204, 1)), color-stop(100%, rgba(240, 240, 240, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#f0f0f0', GradientType=0); /* IE6-9 */
}

.h5p-course-presentation .h5p-keywordcontrols-button:after {
    font-family: H5PFontAwesome;
    content: "\f057";
    margin-left: 0.4em;
    color: #d90000;
}

.h5p-course-presentation .h5p-keywordcontrols-button:first-child, .h5p-course-presentation .h5p-slidecontrols-button:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-left: none;
}

.h5p-course-presentation .h5p-keywordcontrols-button:first-child, .h5p-course-presentation .h5p-slidecontrols-button:last-child {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-right: none;
}

.h5p-course-presentation .h5p-keywordcontrols-button:hover, .h5p-course-presentation .h5p-slidecontrols-button:hover {
    text-decoration: none;
    background-color: #d0dfd0;
}

.h5p-course-presentation .h5p-slidecontrols-button.h5p-slidecontrols-button-clone:before {
    font-family: H5PFontAwesome;
    content: "\f0c5";
    margin-left: 0.1em;
    color: #494949;
    margin-left: -0.1em;
}

.h5p-course-presentation .h5p-slidecontrols-button.h5p-slidecontrols-button-sort-left:before {
    font-family: H5PCoursePresentation;
    content: "\e987";
    color: #494949;
    font-size: 1.4em;
    margin-left: -0.1em;
}

.h5p-course-presentation .h5p-slidecontrols-button.h5p-slidecontrols-button-sort-right:before {
    font-family: H5PCoursePresentation;
    content: "\e988";
    color: #494949;
    font-size: 1.4em;
    margin-left: -0.1em;
}

.h5p-course-presentation .h5p-slidecontrols-button.h5p-slidecontrols-button-delete:before {
    font-family: H5PFontAwesome;
    content: "\f014";
    color: #494949;
    font-size: 1.1em;
}

.h5p-course-presentation .h5p-slidecontrols-button.h5p-slidecontrols-button-add:before {
    font-family: H5PFontAwesome;
    content: "\f055";
    color: #494949;
    font-size: 1.1em;
    margin-left: 0;
}

.h5p-course-presentation .h5p-keywordcontrols-button:hover {
    background-color: #edd1de;
}

.h5p-course-presentation .h5p-keywords-li {
    position: relative;
}

.h5p-course-presentation .h5p-placeholder {
    list-style: none;
}

.h5p-course-presentation .h5p-keywords-wrapper textarea {
    resize: none;
    overflow: hidden;
    font-size: 1em;
    padding-right: 1.833em;
    width: 7.6em;
    box-shadow: none;
    border: 0.1em solid #ff9933;
    font-weight: bold;
}

.h5p-course-presentation .h5p-keywords-wrapper .h5p-current span {
    cursor: pointer;
}

.h5p-course-presentation .h5p-keywords-wrapper .h5p-current span:hover {
    color: #000;
}

.h5p-course-presentation .h5p-sub-keyword textarea {
    padding-right: 1.833em;
    width: 7.7em;
}

.h5p-course-presentation .h5p-empty-keyword > span {
    font-style: italic;
}

.h5p-course-presentation .h5p-delete-keyword {
    position: absolute;
    right: -0.7em;
    top: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.7em;
}

.h5p-course-presentation .h5p-delete-keyword:after {
    font-family: H5PFontAwesome;
    content: "\f057";
    color: #ccc;
}

.h5p-course-presentation .h5p-delete-keyword:hover:after {
    color: #d90000;
    text-decoration: none;
}

.h5p-course-presentation .h5p-delete-keyword:hover {
    text-decoration: none;
    color: #d90000;
}

.h5p-course-presentation .h5p-moving {
    position: absolute;
    cursor: move;
}

.h5p-course-presentation .slideination {
    height: 9.09%;
}

.h5p-course-presentation .h5p-element {
    border: 1px dashed #a0a0a0;
    overflow: hidden !important;
}

.h5p-course-presentation .h5p-element-remove {
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0.25em;
    right: 0.25em;
    cursor: pointer;
    padding: 0.05em;
    background: #fff no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQJDCwQx2DOtQAAARBJREFUKM91kE9Kw2AUxH+TGzQLqWbtBRqybEr3Wih4B//coRvBEwh6CUEo3YemS0kv4LqgIvEI4+L7klaob/V4b968mdF6MLoFTg1Pk7b54EjVaT403Al/JoYhsBBe1mmeHQFnwFKwAJ0lsp+BN1BhqNYHR7GvgCJgeJRt6jTPjCuh87i4MCBY2S4kvQPTsm12sh1eD/IM8RrZNmBA40DgedludwD9QTganSC9AOM42oCvynb71WGSPw4lAjMEnijsENJLCgb/kcS8bJu9pDrNM9sVCqYVTQMroBDsTa8HoyGwjMz9ovtqu5K69HyZADf7nN2DAUKvaZRVYF0n4G/gwXjWRXdYk59mZzPDvge3v046iYmbcYsaAAAAAElFTkSuQmCC);
    background-size: 0.75em 0.75em;
    background-position: 0.2em 0.2em;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.h5p-course-presentation .h5p-element-remove:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.h5p-course-presentation .h5p-dialog-no-close .ui-dialog-titlebar-close {
    display: none;
}

.h5p-course-presentation .ui-widget-header {
    background: none;
    border: none;
}

.h5p-course-presentation .ui-dialog-buttonpane {
    border: none;
    margin-top: 0;
}

.h5p-course-presentation .ui-resizable-se {
    bottom: -5px;
    right: -5px;
}

.h5p-course-presentation .h5p-keywords-tip {
    width: 12.3em;
    position: absolute;
    top: 0;
    padding: 1em;
    color: #979797;
    font-size: 0.875em;
}

.h5p-dragnbar {
    height: 7%;
    background: transparent;
    position: absolute;
    top: -7%;
    left: 0;
    width: 100%;
    padding: 0 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.h5p-dragnbar .h5p-dragnbar-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.h5p-dragnbar-ul {
    float: right;
}

.h5p-dragnbar-li {
    float: left;
    margin: 0;
    padding: 0;
    border-right: 1px solid #ccc;
    border-left: 1px solid #eee;
    height: 100%;
    position: relative;

    background: rgb(240, 240, 240); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(240, 240, 240, 1)), color-stop(100%, rgba(204, 204, 204, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 1%, rgba(204, 204, 204, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#cccccc', GradientType=0); /* IE6-9 */
}

.h5p-dragnbar-li:hover {
    background: rgb(204, 204, 204); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, rgba(204, 204, 204, 1)), color-stop(100%, rgba(240, 240, 240, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 12%, rgba(240, 240, 240, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#f0f0f0', GradientType=0); /* IE6-9 */
}

.h5p-dragnbar-li:first-child {
    border-left: 0;
    border-top-left-radius: 0.5em;
}

.h5p-dragnbar-li:last-child {
    border-right: 0;
    border-top-right-radius: 0.5em;
}

.h5p-dragnbar-a {
    height: 100%;
    display: block;
    width: 1.4em;
    padding: 0.3em;
    color: #000;
}

.h5p-dragnbar-a:hover {
    text-decoration: none;
}

.h5p-dragnbar-left {
    float: left;
}

.h5p-dragnbar-left > .h5p-dragnbar-li:first-child {
    border-left: 0;
    border-right: 1px solid #ccc;
    border-top-left-radius: 0.5em;
}

.h5p-dragnbar-left > .h5p-dragnbar-li:last-child {
    border-left: 1px solid #eee;
    border-top-right-radius: 0.5em;
}

.h5p-dragnbar-mainkeyword-button:before {
    font-family: H5PCoursePresentation;
    content: "\e998";
    color: #494949;
    font-size: 1.5em;
}

.h5p-dragnbar-subkeyword-button:before {
    font-family: H5PCoursePresentation;
    content: "\e999";
    color: #494949;
    font-size: 1.5em;
}

.h5p-dragnbar-text-button:before {
    font-family: H5PCoursePresentation;
    content: "\e997";
    color: #494949;
    font-size: 1.6em;
}

.h5p-dragnbar-table-button:before {
    font-family: H5PFontAwesome;
    content: "\f0ce";
    color: #494949;
    font-size: 1.1em;
}

.h5p-dragnbar-link-button:before {
    font-family: H5PFontAwesome;
    content: "\f0c1";
    color: #494949;
    font-size: 1.1em;
}

.h5p-dragnbar-image-button:before {
    font-family: H5PFontAwesome;
    content: "\f03e";
    color: #494949;
    font-size: 1.1em;
}

.h5p-dragnbar-audio-button:before {
    font-family: H5PFontAwesome;
    content: "\f028";
    color: #494949;
    font-size: 1.1em;
}

.h5p-dragnbar-video-button:before {
    font-family: H5PFontAwesome;
    content: "\f008";
    color: #494949;
    font-size: 1em;
}

.h5p-dragnbar-more-button:before {
    font-family: H5PFontAwesome;
    content: "\f067";
    color: #494949;
    font-size: 1em;
}

.h5p-dragnbar-dragquestion-button:before {
    font-family: H5PCoursePresentation;
    content: "\e991";
    color: #494949;
    font-size: 1.2em;
}

.h5p-dragnbar-blanks-button:before {
    font-family: H5PCoursePresentation;
    content: "\e994";
    color: #494949;
    font-size: 1.2em;
}

.h5p-dragnbar-multichoice-button:before {
    font-family: H5PCoursePresentation;
    content: "\e993";
    color: #494949;
    font-size: 1.2em;
}

.h5p-dragnbar-summary-button:before {
    font-family: H5PCoursePresentation;
    content: "\e992";
    color: #494949;
    font-size: 1.2em;
}

.h5p-dragnbar-continuoustext-button:before {
    font-family: H5PCoursePresentation;
    content: "\e996";
    color: #494949;
    font-size: 1.2em;
}

.h5p-dragnbar-exportabletextarea-button:before {
    font-family: H5PCoursePresentation;
    content: "\e995";
    color: #494949;
    font-size: 1.3em;
}

.h5p-dragnbar-li-ul {
    padding: 0;
    list-style: none;
    position: absolute;
    top: 1.7em;
    right: 0;
    background: #f7f0f9;
    z-index: 2;
    display: none;
}

.h5p-dragnbar-li-ul .h5p-dragnbar-li {
    float: none;
    height: 2.25em;
    border-left: 0;
    border-bottom: 1px solid #f7f0f9;
}

.h5p-dragnbar-li-ul .h5p-dragnbar-li:last-child {
    border-bottom: 0;
}

.h5p-dragnbar-li-ul .h5p-dragnbar-a {
    height: 1em;
}

.h5p-course-presentation .h5p-multichoice > .h5p-show-solution, .h5p-course-presentation .h5p-element .h5p-hidden-solution-btn {
    display: block;
}

.h5p-course-presentation .ui-widget {
    font-size: 1em;
}

.h5peditor .ui-dialog .ui-dialog-buttonset .h5p-remove {
    background: #e6c9c9;
}

.h5peditor .ui-dialog .ui-dialog-buttonpane button {
    float: none;
}
